# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [3]:
a=6
b=6
print(a==b)
print(id(a))
print(id(b))
print(id(a)==id(b))

True
136519616283024
136519616283024
True

так, ці змінні будуть однаковими як за значенням так і за айді, тобто комірками памʼяті в якому вони зберігаються. Це відбувається тому, що в коді ми часто покликаємось на значення в діапазоні від -5 до 255, тому з метою оптимізації вони покликаються на один обʼєкт в памʼяті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [6]:
my_bool=True
print(isinstance(my_bool, bool))
print(isinstance(my_bool, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [18]:
c=5
d=10.3
print(c+d)
print(c-d)
print(d/c)
print(c*d)
print(d//c)
print(d%c)
print(c**2)
print(d**2)

15.3
-5.300000000000001
2.06
51.5
2.0
0.3000000000000007
25
106.09000000000002

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [20]:
print(int(d))
my_bool2=False
print(int(my_bool))
print(int(my_bool2))

10
1
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [23]:
empty_str1=''
print(empty_str1)
empty_str2=str()
print(empty_str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [30]:
str1='Бажаємо здоровʼя'
print(str1)
str2=r'Бажаємо здоровʼя'
print(str2)

Бажаємо здоровʼя
Бажаємо здоровʼя

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [40]:
my_name='Kachynska'
str_with_name=f'My surname is {my_name}!'
print(str_with_name)

My surname is Kachynska!

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [41]:
str_dog="My dog is crasy"
print(str_dog.lower().rstrip('.').split(" "))

['my', 'dog', 'is', 'crasy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [47]:
list1=['a', 'abb', 2, True]
list2=list()
list2.append(4)
list2.append('ipz')
print(len(list1))

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [49]:
list_to_add=[1, 3, 4]
list_appl=['ira', 'kachynska']
list_to_add.append(list_appl)
list_to_add

[1, 3, 4, ['ira', 'kachynska']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [50]:
dif_list=[[1, 2, 3], [3, 4, 5], [6, 7, 8]]
print(dif_list[-1][0])

6

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [52]:
full_list=[1, 'ira', 4.5, 'ipz', [2, 3, 4], False, 7.8, {5.6, 'naukma'}, True, 10]
part_of_list=full_list[2:8]
print(part_of_list)

[4.5, 'ipz', [2, 3, 4], False, 7.8, {5.6, 'naukma'}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [55]:
my_tuple=('first tuple', )

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Що стосовно схожості, list i tuple обоє є iterable обʼєктами. Також до їх елементів можна доступатись за допомогою індексів. Що стосується відмінностей list є mutable обʼєктом, тобто його можна змінювати від моменту створення впродовж виконання програми, що стосовно tuplе він є immutable, тобто від часу створення обʼєкту елементи і їх кількість змінити чи замінити не можна, також відрізняється метод створення цих обʼєктів, tuple створюється за допомогою круглих дужок (), а list за допомогою квадратних []. Також tuplе є immutable, тож він є значно швидшим. Ми використовуємо tuple, коли набір елементів має залишатись однаковим протягом всього життя програми і в певному сенсі для захисту даних, а list ми використовуємо, коли нам часто треба змінювати елементи в посліідовності чи додавати нові.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [56]:
tuple2=[1.2, 2.4, 3.6, 4.8, 6.0, 7.2, 8.4, 9.6, 10.8, 12.0, 13.2]
tuple2_1=tuple2[-1::-2]
print(tuple2_1)

[13.2, 10.8, 8.4, 6.0, 3.6, 1.2]

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [57]:
my_set=set()
my_set.add('a')
my_set.add('b')
my_set.add('c')
my_set.add('d')
print(my_set)

{'c', 'a', 'b', 'd'}

Так, set є mutable типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [59]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_from_list=set(my_list)
print(set_from_list)

{1, 2, 67, 8, 9}

Вони зникли, тому що set не допускає дублювання елементів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [67]:
set1={'java', 'javascript', 'python', 'cpp', 'swift'}
set2={'html', 'css', 'ruby', 'javascript', 'cpp'}

set_un=set1.union(set2)
set_dif=set1.difference(set2)
set_intersection=set1.intersection(set2)
set_sym_diff=set1.symmetric_difference(set2)
print(set_un)
print(set_dif)
print(set_intersection)
print(set_sym_diff)

{'html', 'cpp', 'javascript', 'java', 'swift', 'ruby', 'css', 'python'}
{'java', 'swift', 'python'}
{'cpp', 'javascript'}
{'ruby', 'html', 'css', 'java', 'swift', 'python'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [71]:
my_dictionary={}
my_dictionary['python']='language'
my_dictionary[1]='number'
my_dictionary[False]='boolean'
my_dictionary[(1,2,3)]='immutable type'
print(my_dictionary)

{'python': 'language', 1: 'number', False: 'boolean', (1, 2, 3): 'immutable type'}

Список не може бути ключем, тому що він є mutable обʼєктом, тому виникне помилка, оскільки значення ключа може змінитись в ході програми, а це не можливо.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [72]:
my_nested_dict={
    'first key':'first value',
    'second key':{
        'third key':'third value',
        'fourth key':{
            'fifth key':'fifth value'
        }
    }
}
print(my_nested_dict['second key']['fourth key']['fifth key'])

fifth value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.